@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.logo {
    font-size: 4rem;
    color: hsl(0, 0%, 44%);
    font-weight: 900;
}

.avatar {
    font-size: 6rem;
    color: #FF8C00;
}

.greeting {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}